{% extends "layout.html" %} {% block content %}
<div class="container">
  <h1 class="header">About Page</h1>
  <hr />
  <p>This is a simple web application having basic features like :</p>
  <ul class="list-group">
    <li class="list-group-item bg-light">Login/Register System</li>
    <li class="list-group-item bg-light">Todo List</li>
    <li class="list-group-item bg-light">Blog Post</li>
    <li class="list-group-item bg-light">Number Facts</li>
  </ul>
  <hr />
</div>
{% endblock content %}
