{% extends 'layout.html' %}

{% block links %}
{% endblock links %}

{% block content %}
    <div>
        <form action="" method='POST'>
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Todo List</legend>
                <div>
                    {{ form.title.label(class="form-control-label") }}
                    {{ form.title(class="form-control form-control-lg") }}
                    {% if form.title.errors %}
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    {{ form.desc.label(class="form-control-label") }}
                    {{ form.desc(class="form-control form-control-lg") }}
                    {% if form.desc.errors %}
                        {% for error in form.desc.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="row">
                <div class="column">
                    <ul>
                        <h2>Completed</h2>
                        {% for task in complete %}
                            {% if task.user == current_user %}
                                {% if task.desc %}
                                    <li>{{ task.title}} - {{task.desc }}</li>
                                {% else %}
                                    <li>{{ task.title}}</li>
                                {% endif %}
                                <a href="{{ url_for('incomplete', id=task.id) }}"><img src="{{ url_for('static', filename = 'icons/redo.png') }}" class="size">Mark as not done/Redo</a>
                                <a href="{{ url_for('todo_update', id=task.id) }}"><img src="{{ url_for('static', filename = 'icons/edit.png') }}" class="size">Edit</a>
                                <a href="{{ url_for('todo_delete', id=task.id) }}"><img src="{{ url_for('static', filename = 'icons/cancel.png') }}" class="size">Delete</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <h2>Incomplete</h2>
                        {% for task in incomplete %}
                            {% if task.user == current_user %}
                                {% if task.desc %}
                                    <li>{{ task.title}} - {{task.desc }}</li>
                                {% else %}
                                    <li>{{ task.title}}</li>
                                {% endif %}
                                <a href="{{ url_for('complete', id=task.id) }}"><img src="{{ url_for('static', filename = 'icons/done.png') }}" class="size">Mark as done</a>
                                <a href="{{ url_for('todo_update', id=task.id) }}"><img src="{{ url_for('static', filename = 'icons/edit.png') }}" class="size">Edit</a>
                                <a href="{{ url_for('todo_delete', id=task.id) }}"><img src="{{ url_for('static', filename = 'icons/cancel.png') }}" class="size">Delete</a>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}